* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
}

button:hover {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  height: inherit;
}

.game_board_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game_board_container > h1 {
  margin-top: 80px;
  font-size: 3em;
  text-align: center;
}

.game_info {
  font-size: 2em;
  margin: 20px;
}

.game_board {
  display: grid;
  gap: 4px;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: repeat(3, 80px);
  justify-content: center;
}

.new_game_button {
  margin-top: 15px;
  background-color: rgb(112, 112, 174);
  border: none;
  border-radius: 50%;
  color: white;
  height: 100px;
  width: 200px;

  font-size: 1.5em;
}

.new_game_button:hover {
  background-color: rgb(57, 57, 148);
}

.cell {
  cursor:pointer;
  border: 3px solid black;
  font-size: 80px;
  line-height: 0;
  display: grid;
  place-items: center;
}

.players_container {
  border: 2px solid black;
  padding: 20px;
  background-color: rgb(22, 44, 22);
}

label {
  text-indent:-999px;
}

.new_player {
  display: flex;
  margin-top: 10px;
}

.new_player > input {
  font-size: 1em;
  padding: 0 2px;
}

.new_player > button {
  padding: 2px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  background-color: rgb(112, 112, 174);
  border: none;
}

.new_player > button:hover {
  background-color: rgb(57, 57, 148);
}

.new_player > #name {
  flex: 0 0 200px;
}

.new_player > #symbol {
  flex: 0 0 25px;
  width: 10px;
}

.players_list > div, .players_list_headers  {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.players_list_headers {
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.player {
  color: white;
  margin: 2px 0px;
  padding: 4px 8px;
  border: 2px solid white;
}