* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
}

button:hover {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  height: inherit;
}

.game_board_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game_board_container > h1 {
  margin-top: 30%;
  font-size: 3em;
  text-align: center;
}

.game_info {
  font-size: 2em;
  margin: 20px 0;
}

.game_board {
  display: grid;
  gap: 4px;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: repeat(3, 80px);
  justify-content: center;
}

.new_game_button {
  margin-top: 15px;
  background-color: rgb(112, 112, 174);
  border: none;
  border-radius: 50%;
  color: white;
  height: 100px;
  width: 200px;

  font-size: 1.5em;
}

.new_game_button:hover {
  background-color: rgb(57, 57, 148);
}

.cell {
  border: 3px solid black;
  font-size: 80px;
  line-height: 0;
  display: grid;
  place-items: center;
}

.players_container {
  background-color: rgb(25, 59, 25);
}